<div class="row" >

    <div class="col-sm-6 col-lg-3 dashboard-card">
        <div class="card mb-4 text-white ">
            <div class="card-body pb-0 ">
                <div class="d-flex justify-content-center">

                    <h5 class="text-success"> Staff Manager</h5>
                </div>
                <div class="d-flex justify-content-center mt-md-3 mb-md-3 text-success">
                     <a class="dashboard-icon" href="#"><i class="fa fa-users nav-icon fa-3x p-3"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-6 col-lg-3 dashboard-card">
        <div class="card mb-4 text-white ">
            <div class="card-body pb-0 ">
                <div class="d-flex justify-content-center">

                    <h5 class="text-success"> Student Manager</h5>
                </div>
                <div class="d-flex justify-content-center mt-md-3 mb-md-3 ">
                     <a class="dashboard-icon text-info" href="#"><i class="fa fa-users nav-icon fa-3x p-3"></i></a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-6 col-lg-3 dashboard-card">
        <div class="card mb-4 text-white ">
            <div class="card-body pb-0 ">
                <div class="d-flex justify-content-center">

                    <h5 class="text-success"> Examinations</h5>
                </div>
                <div class="d-flex justify-content-center mt-md-3 mb-md-3">
                     <a class="dashboard-icon text-warning" href="#"><i class="fa fa-users nav-icon fa-3x p-3"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-6 col-lg-3 dashboard-card">
        <div class="card mb-4 text-white ">
            <div class="card-body pb-0 ">
                <div class="d-flex justify-content-center">

                    <h5 class="text-success">Subjects</h5>
                </div>
                <div class="d-flex justify-content-center mt-md-3 mb-md-3">
                     <a class="dashboard-icon text-danger" href="#"><i class="fa fa-users nav-icon fa-3x p-3"></i></a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-6 col-lg-3 dashboard-card">
        <div class="card mb-4 text-white ">
            <div class="card-body pb-0 ">
                <div class="d-flex justify-content-center">

                    <h5 class="text-success"> Academic Calender</h5>
                </div>
                <div class="d-flex justify-content-center mt-md-3 mb-md-3">
                     <a class="dashboard-icon text-success" href="#"><i class="fa fa-users nav-icon fa-3x p-3"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-6 col-lg-3 dashboard-card">
        <div class="card mb-4 text-white ">
            <div class="card-body pb-0 ">
                <div class="d-flex justify-content-center">

                    <h5 class="text-success"> Outistanding Bills</h5>
                </div>
                <div class="d-flex justify-content-center mt-md-3 mb-md-3">
                     <a class="dashboard-icon text-danger" href="#"><i class="fa fa-users nav-icon fa-3x p-3"></i></a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-6 col-lg-3 dashboard-card">
        <div class="card mb-4 text-white ">
            <div class="card-body pb-0 ">
                <div class="d-flex justify-content-center">

                    <h5 class="text-success">Results Manager</h5>
                </div>
                <div class="d-flex justify-content-center mt-md-3 mb-md-3">
                     <a class="dashboard-icon text-info" href="#"><i class="fa fa-users nav-icon fa-3x p-3"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-6 col-lg-3 dashboard-card">
        <div class="card mb-4 text-white ">
            <div class="card-body pb-0 ">
                <div class="d-flex justify-content-center">

                    <h5 class="text-success"> Password-Manager</h5>
                </div>
                <div class="d-flex justify-content-center mt-md-3 mb-md-3  ">

                    <a class=" dashboard-icon" href="#"><i class="fa fa-users nav-icon fa-3x p-3"></i></a>

                </div>
            </div>
        </div>
    </div>

</div>
