<%= render 'students/shared/student_sidenav' %>
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <%= render 'students/shared/student_header' %>
    <%= render "shared/alerts" %>
    <div class="body flex-grow-1 px-3">

    </div>
    <%= render "students/shared/student_footer" %>
</div>
