
<footer class="footer">
        <div><a href="#">CoreUI </a><a href="#">Bootstrap Admin Template</a> © 2023 creativeLabs.</div>
        <div class="ms-auto">Powered by&nbsp;<a href="#">CoreUI UI Components</a></div>
</footer>
